.wrapper-cart {
  background-image: linear-gradient(to right, #d434b0, #8029fc);
  padding: 0.5rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  height: calc(100vh - 70px);
}
